In [3]:
username_in_database="tanishk mahar"
password_in_database="Otanishk"

In [5]:
import webbrowser
username=input("enter your name").lower()
password=input("enter your password")
if username == username_in_database and password == password_in_database:
    print("correct password and username")
    webbrowser.open("www.youtube.com")
else:
    print("wrong password and username")

enter your name tanishk mahar
enter your password Otanishk

correct password and username

Q1. Write a program to accept percentage from the user and display
the grade according to the following criteria:

Marks Grade
> 90 A
> 80 and <= 90 B
>= 60 and <= 80 C
below 60 D

In [8]:
marks=float(input("enter your marks"))
if marks >=90:
    print("grade A")
elif marks >80 and marks <= 90:
    print("grade B")
elif marks >= 60 and marks <= 80:
    print("grade c")
else:
    print("grade d")

enter your marks 45

grade d

Q2. Write a program to calculate the electricity bill
using only if statement? (accept number of unit from user)
according to the following criteria:

Unit Price
First 100 units no charge
Next 100 units Rs 5 per unit
After 200 units Rs 10 per unit
(For example, if input unit is 350 than total bill amount is Rs2000). Lets explain...
For first 100 no charges
Now you have 250 unit remaining
100-200 you need to pay – 100*5 = 500
Now 200-100 you need to pay 150*10 = 1500
Total = 500+1500 = 2000

In [13]:
number_of_units=int(input("enter units"))
if number_of_units <= 100:
    bill = 0
elif number_of_units <=200:
    bill = (units-100)*5
else:
    bill =  (100 * 5) + (number_of_units - 200) * 10
print(f"your electricity bill is {bill}")

enter units 580

your electricity bill is 4300

Q3. Accept the age of 4 people and display the youngest one?

In [15]:
age1=int(input("enter your age"))
age2=int(input("enter your age"))
age3=int(input("enter your age"))
age4=int(input("enter your age"))

if(age1 <= age2 and age1 <= age3 and age1 <= age4):
    youngest=age1
elif(age2 <= age1 and age2 <= age3 and age2 <= age4):
    youngest=age2
elif(age3 <= age1 and age3 <= age2 and age3 <= age4):
    youngest=age3
else:
    youngest=age4
print(f"the youngest one is {youngest}")

enter your age 34
enter your age 23
enter your age 12
enter your age 13

the youngest one is 12

Q4. A company decided to give bonus to employee
according to following criteria:

Time period of Service Bonus

More than 10 years     10%

>=6 and <=10           8%

Less than 6 years      5%

Ask user for their salary and years of service and print the
net bonus amount?

In [22]:
user_salary=int(input("enter your salary"))
years_of_service=int(input("enter your total years"))
if(years_of_service > 10):
    bonus = user_salary*0.10
elif(years_of_service >=6 and years_of_service <= 10):
    bonus = user_salary*0.08
else:
    bonus = user_salary*0.05

print(f"the net bonus will be: {bonus}")

enter your salary 580000
enter your total years 12

the net bonus will be: 58000.0

Q5. Accept three numbers from the user and
display the second largest number?

In [26]:
num1=int(input("enter the number"))
num2=int(input("enter the number"))
num3=int(input("enter the number"))
if (num1>=num2 and num1<=num3) or (num1>=num3 and num1<=num2):
    second_largest=num1
elif (num2>=num1 and num2<=num3) or (num2>=num3 and num2<=num1):
    second_largest=num2
else:
    second_largest=num3

print(f"the second largest number is {second_largest}")

enter the number 6
enter the number 12
enter the number 9

the second largest number is 9

Q6. Accept the marked price from the user and calculate
the Net amount as (Marked Price – Discount) to pay
according to following criteria:

Marked Price      Discount
>10000            20%
>7000 and <=10000 15%
<=7000            10%

In [38]:
marked_price = float(input("enter the price"))
if(marked_price > 10000):
    discount = marked_price * 0.20
elif(marked_price > 7000 and marked_price <=10000):
    discount = marked_price * 0.15
else:
    discount = marked_price * 0.10
    
net_amount = marked_price - discount
print(f"discount amount is Rs{discount}")
print(f"the net amount is Rs{net_amount}")

enter the price 1000

discount amount is Rs100.0
the net amount is Rs900.0

Q7. Accept the marks of English, Math and Science,
Social Studies Subject and display the stream allotted
according to following:

All Subjects more than 80 marks — Science Stream

English >80 and Math, Science above 50 — Commerce Stream

English > 80 and social studies > 80 — Humanities

In [45]:
english=int(input("enter your marks"))
maths=int(input("enter your marks"))
science=int(input("enter your marks"))        
social_studies=int(input("enter your marks"))
if(english>80 and maths>80 and science>80 and social_studies > 80):
    stream = "science stream"
elif(english >80 and math>50 and science > 50):
    stream = "commerce"
else:
    stream = "humanities"

print(f"stream allotted is {stream}")

enter your marks 45
enter your marks 45
enter your marks 45
enter your marks 45

stream allotted is humanities

Q8. Write a program to display "Hello" if a number entered
by user is a multiple of five, otherwise print "Bye"?

In [52]:
number=int(input("enter the number"))
if(number % 5 == 0):
    print("hello")
else:
    print("bye")

enter the number 4

bye

Q9. Write a program to check whether the last digit of a number
(entered by user) is divisible by 3 or not?

In [55]:
num=int(input("enter the number"))
last_digit=num % 10
if (last_digit % 3 == 0):
    print("last digit is divisible")
else:
    print("not divisible")

enter the number 43

last digit is divisible

Q10. Write a program to check whether a number entered
is three-digit number or not?

In [57]:
num=int(input("enter the number"))
if(num>99 and num<999):
    print("is a three digit number")
else:
    print("is not a three digit")

enter the number 100

is a three digit number