 1: Write a Python program to print all the numbers from 1 to 10 using a for loop.

In [17]:
for items in range(1,11):
    print(items)

1
2
3
4
5
6
7
8
9
10

2: Write a Python program to find the sum of all numbers from 1 to 100 using a for loop.

In [7]:
sum=0
for i in range(1,101):
    sum += i
print(f"sum of all numbers is: {sum}")

sum of all numbers is: 5050

 3: Write a Python program to print the multiplication table of a given number using a for loop.

In [15]:
number = int(input("enter number"))
for i in range(1,11):
    print(f"{number} x {i} == {number*i}")

enter number 23

23 x 1 == 23
23 x 2 == 46
23 x 3 == 69
23 x 4 == 92
23 x 5 == 115
23 x 6 == 138
23 x 7 == 161
23 x 8 == 184
23 x 9 == 207
23 x 10 == 230

 4: Write a Python program to count the number of even and odd numbers from a series of numbers using a for loop. Hint: Find even and odd from this list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
list=[1,2,3,4,5,6,7,8,9,10]
even=0
odd=0
for i in list:
    if (i % 2 == 0):
        even += 1
    else:
        odd += 1
print(f"even numbers: {even}")     
print(f"odd numbers: {odd}")

even numbers: 5
odd numbers: 5

5: Write a Python program to find the factorial of a number using a for loop.

In [24]:
num=int(input("enter number"))
factorial=1
for i in range(1,num+1):
    factorial*=i

print(f"the factorial is: {factorial}")

enter number 3

the factorial is: 6

6: Write a Python program to print the Fibonacci sequence up to a specified number using a for loop.

In [37]:
a,b=0,1
term=int(input("enter number of terms"))
print("fibonacci sequence")
for _ in range(term):
    print(a,end=" ")
    a,b=b,a+b

enter number of terms 10

fibonacci sequence
0 1 1 2 3 5 8 13 21 34

7: Write a Python program to check if a given number is prime or not using a for loop.

In [40]:
num=int(input("enter number"))
if num < 0:
    print("negative number")
elif num == 1:
    print("not a prime number")
else:
    for i in range(2,int((num)**0.5)):
        if number%i==0:
            print("not a prime number")
            break
    else:
        print("prime number")

enter number 13

prime number

 8: Write a Python program to find the largest element in a list using a for loop.

In [53]:
elements = input("the elements of the list")
list=elements.split(",")
max=int(list[0])
for item in list:
    if int(item)>max:
        max=int(item)
print(f"largest element is: {max}")

the elements of the list 1,2,3,4,5,6,7,8,9

largest element is: 9

 9: Write a Python program to reverse a given string using a for loop.

In [43]:
string=input("enter string")
reverse=" "
for char in string:
    reverse=char+reverse
print(f"reverse string: {reverse}")

enter string tanishk

reverse string: khsinat

10: Write a Python program to find the common elements between two lists using a for loop. List1 = [1,2,3] List2 = [4,5,1] # common element is 1

In [58]:
list1=[1,2,3]
list2=[5,4,2]
comman_element=[]
for i in list1:
    if i in list2:
        comman_element+=i
print(f"the comman element is: {comman_element}")

the comman element is: []